alembic
blinker
click
debugpy
dotenv
Flask
flask-cors
Flask-Migrate
Flask-SQLAlchemy
flask-swagger-ui
gunicorn
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
psycopg2-binary
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
